<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Books by library</title>
</head>
<body>
    <h1 th:text="|Books by library: ${library.id} address: ${library.address}|"></h1>
    <table id="books">
        <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Author</th>
            <th>Pages</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book: ${booksByLibrary}">
            <td th:text="${book.id}"/>
            <td th:text="${book.title}"/>
            <td th:text="${book.author}"/>
            <td th:text="${book.numberOfPages}"/>
        </tr>
        </tbody>
</table>
</body>
</html>