<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Books Page</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

</head>
<body>
<h1 class="caption">Add book:</h1>
    <form action="add_book" method="post" class="form-text">
        <label for="bookTitle">Title</label>
        <input type="text" name="title" id="bookTitle">
        <label for="bookAuthor">Author</label>
        <input type="text" name="author" id="bookAuthor">
        <label for="bookPages">Pages</label>
        <input type="number" name="pages" id="bookPages">
        <label for="bookLibrary">Library</label>
        <input type="number" name="library" id="bookLibrary">
        <input type="submit" value="Add" class="btn btn-success">
    </form>

    <h1 class="caption">All books:</h1>
    <table id="books" class="table table-success table-striped table-hover">
        <thead class="table table-dark">
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Author</th>
                <th>Pages</th>
                <th>Library</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="book: ${books}">
                <td th:text="${book.id}"/>
                <td th:text="${book.title}"/>
                <td th:text="${book.author}"/>
                <td th:text="${book.numberOfPages}"/>
                <td> <a th:href="@{/book_library/{id}(id=${book.library.id})}"> library </a></td>
            </tr>
        </tbody>
    </table>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
</body>
</html>